{% form_theme carForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
   <div class="container text-center">
   <h3 class="text-primary text-uppercase">Edit car</h3>
      {{ form (carForm) }}
   </div>
{% endblock %}