{% extends "base.html.twig" %}

{% block body %}
<div class="container">
   <table class="table table-primary text-center">
      <thead>
         <tr>
            <th>Car ID</th>
            <th>Car Name</th>
            <th>Menu</th>
         </tr>
      </thead>
      <tbody>
      {% for c in car %}
          <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name}} </td>
            <td>
               <a class="btn btn-info" 
                  href="{{ path ("car_detail", {'id' : c.id })}}">
                  Detail
               </a>
               <a class="btn btn-primary" href="">Edit</a>
               <a class="btn btn-danger" 
                  href="{{ path ("car_delete", {'id' : c.id })}}">
                  Delete
               </a>
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}