{% extends "base.html.twig" %}

{% block body %}
<div class="container">
   <table class="table table-primary text-center">
      <thead>
         <tr>
            <th>Person ID</th>
            <th>Person Name</th>
            <th>Menu</th>
         </tr>
      </thead>
      <tbody>
      {% for p in person %}
          <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name}} </td>
            <td>
               <a class="btn btn-info" href="http://">Detail</a>
               <a class="btn btn-primary" href="">Edit</a>
               <a class="btn btn-danger" 
                  href="{{ path ("person_delete", {'id' : p.id })}}">
               Delete
               </a>
            </td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}